# Python cache files
__pycache__/
*.py[cod]

# Environment variables file
.env

# IDE-specific files
.idea/
.vscode/

# Logs folder
.logs/

# Secret files
.secrets/

# This is the repomix genared file that
# is contains the whole repo content for
# submitting to AIs, like Claude
lumino-api.txt

# OS-specific files
.DS_Store
Thumbs.db

# Terraform
**/.terraform/
**/terraform/.terraform.lock.hcl
**/terraform/.terraform.tfstate.lock.info
**/terraform/terraform.tfstate
**/terraform/terraform.tfstate.backup
